<h1 class="text-center mt-5 text-info">Transaction History</h1>
<div class="container w-50 mt-3 p-3 text-center border" style="background-color: grey;border-radius: 20px;">
   <table class="text-center w-100 text-white fs-4">
    <thead>
        <tr>
            <th class="border">TYPE</th>
            <th class="border">AMOUNT</th>
        </tr>
    </thead>
    <tbody class="border">
        <tr *ngFor="let i of transactionArray">
            <td>{{i.Type}}</td>
            <td>{{i.Amount}}</td>
        </tr>
        
    </tbody>
   </table>
</div>


